/*===== GOGGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

/*=== Cores ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== fonte ===*/
:root {
  --biggest-font-size: 10.5rem;
  --h2-font-size: 10.25rem;
  --normal-font-size: 20.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    /* basgiath */
    --h2-font-size: 2.5rem;
    --normal-font-size: 4rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.nav__logo {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #393955;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

/*=== Show menu ===*/
.show {
  top: 3rem;
}

/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("/assets/img/imgm1.png");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/assets/img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/assets/img/imgm3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/assets/img/imgm4.png");
  z-index: var(--z-fixed);
  top: 60%;
  /* Adiciona espaçamento para baixo */
  position: absolute;
  /* Garante posicionamento */
  left: 0;
  width: 100%;
  height: 40%;
  /* Ajuste conforme necessário */
}

.home__title,
.home__subtitle {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Castoro Titling', serif;
  font-weight: bold;
}


.home__title {
  top: 32%;
  font-size: 90px;
  z-index: var(--z-normal);
  background-image: url('../img/textura-de-pedra.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.home__subtitle {
  top: 44%;
  font-size: 30px;
  font-weight: bold;
  z-index: var(--z-tooltip);
  color: rgb(0, 0, 0);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx-mouse {
  color: var(--white-color);
}

/*===== SECTION =====*/
.l-section {
  background-color: black;
}

.section {
  height: 100vh;
  max-width: 1000px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2em 0;
  color: var(--white-color);
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal;
  -ms-flex-direction: column; 
  flex-direction: column; 
  -webkit-box-pack: space-evenly; 
  -ms-flex-pack: space-evenly; 
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}

.section__data {
  margin-bottom: 2rem;
}

.section__title {
  font-size: 50px;
  color: white;
  margin-bottom: 1rem;
}

.section__text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--white-color);
  padding-left: 0rem;
  padding-right: 0;
  flex: 1;
  /* Garante que o texto ocupe o espaço ao lado da imagem */
  display: flex;
  align-items: center;
}

.section__img {
  width: 1500px;
  border-radius: .5rem;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 760px) {
  .nav {
    height: 4rem;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__title {
    top: 27%;
  }

  .home__subtitle {
    top: 50%;
  }

  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .section__text {
    padding-right: 4rem;
  }

  .section__img {
    width: 470px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}